#!/bin/bash
# {{ ansible_managed }}

##############################################
export AUTOBRR_VERSION="{{ autobrr_ver }}"
##############################################
wget https://github.com/autobrr/autobrr/releases/download/v${AUTOBRR_VERSION}/autobrr_${AUTOBRR_VERSION}_linux_x86_64.tar.gz
tar xvzf autobrr_${AUTOBRR_VERSION}_linux_x86_64.tar.gz
sudo systemctl stop autobrr@{{ ansible_user }}.service
sudo mv -v autobrr autobrrctl /usr/local/bin/
sudo restorecon -Rv /usr/local/bin/
export AUTOBRR_CURRENT_VERSION=$(autobrrctl version | grep 'Version: ' | cut -d ' ' -f 2)
echo "${AUTOBRR_CURRENT_VERSION}" > /home/{{ ansible_user }}/.config/autobrr/.current_version
tar cvzf autobrr_backup_$(date +%Y-%m-%d_%H%M%S).tgz /home/{{ ansible_user }}/.config/autobrr
sudo systemctl start autobrr@{{ ansible_user }}.service
sudo systemctl is-active autobrr@{{ ansible_user }}.service
rm -vf autobrr_${AUTOBRR_VERSION}_linux_x86_64.tar.gz LICENSE README.md
mv -v autobrr_backup_$(date +%Y-%m-%d_%H%M%S).tgz /home/{{ ansible_user }}/site/UPLOAD/
echo "Upgrade of autobrr to version ${AUTOBRR_VERSION} finished!"
