#!/bin/bash

export AUTOBRR_VERSION="{{ autobrr_version }}"

wget https://github.com/autobrr/autobrr/releases/download/v${AUTOBRR_VERSION}/autobrr_${AUTOBRR_VERSION}_linux_x86_64.tar.gz
tar xvzf autobrr_${AUTOBRR_VERSION}_linux_x86_64.tar.gz
sudo systemctl stop autobrr.service
sudo mv -v autobrr autobrrctl /usr/local/bin/
sudo restorecon -Rv /usr/local/bin/
tar cvzf autobrr_backup_$(date +%Y-%m-%d_%H%M%S).tgz ~/.config/autobrr
sudo systemctl start autobrr.service
sudo systemctl is-active autobrr.service
rm -vf autobrr_${AUTOBRR_VERSION}_linux_x86_64.tar.gz LICENSE README.md
echo "Upgrade of autobrr to version ${AUTOBRR_VERSION} finished!"
